body {
    font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","Noto Sans CJK SC","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    -webkit-font-smoothing: antialiased;
    /*background-color: white;*/
}
a{-webkit-tap-highlight-color: transparent;-moz-tap-highlight-color: transparent}
.body-content {
    padding: 0 0;
    margin: 0 0 0 0;
    width: 100%;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar a {
    font-size: 18px;
}

.navbar .navbar-brand:hover {
    color: #fff;
    background-color: #28CCB6;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navbar .navbar-toggle:hover {
    background-color: #28CCB6 !important;
}

.navbar .navbar-toggle:focus {
    background-color: #28CCB6 !important;
}

.navbar {
/*    background-color: #28CCB6;*/
    border-bottom: 1px solid #28CCB6;
    border-color: #28CCB6;
}

    .navbar .navbar-nav > li > a {
        color: #fff !important;
        font-size: 16px;
    }

        .navbar .navbar-nav > li > a:hover {
            color: #EB7500;
            background-color: #28CCB6 !important;
        }


#datebar {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    font-size: 15px;
}


.panel {
/*    border: 0px solid transparent !important;*/
    border-radius: 0px !important;
    -webkit-box-shadow: 0 1px 1px #ECEEEF !important;
    box-shadow: 0 1px 1px #ECEEEF !important;
}

.panel-group {
    margin-bottom: 0px !important;
}

#info-list-all {
    padding: 0px 0px;
    /*margin-top:40px;*/
    border-bottom:1px solid #fff;
}

    #info-list-all .summary-info {
        padding: 0px 0px;
    }

.summary-info .month {
    height: 10px;
    line-height: 10px;
    overflow: hidden;
    font-size: 15px;
    /*border-bottom: 1px solid #ddd;*/
    background-color: #F6F6F6;
}


.summary-info .info-list {
    /*border-bottom: 1px solid #ddd;*/
    /*  padding: 10px 0 10px 0;*/
    padding:0;
}

    .summary-info .info-list .simple-info {
    }

        .summary-info .info-list .simple-info .si-1 {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .summary-info .info-list .simple-info .si-2 {
            padding: 0 0 0 12px;
            border-left: 1px solid #ECEEEF
        }

        .summary-info .info-list .simple-info .si-3 {
            padding: 0;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .summary-info .info-list .simple-info p {
            font-size: 18px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 0px !important;
        }

    .summary-info .info-list a .col-sm-2 {
        padding: 0px !important;
    }

    .summary-info .info-list .info-list-rs {
        padding:0 0 0 12px;
       /* border-left: 2px solid #28CCB6;*/
    }
        .summary-info .info-list .info-list-rs p {
            padding-top: 6px;
            font-size: 12px;
        }
        .summary-info .info-list .info-list-rs span a {
            font-size: 16px;
            text-decoration: none;
            color: #28CCB6;
        }

    .summary-info .info-list .simple-info .si-1-1 {
        text-align: center;
        font-size: 17px;
    }

    .summary-info .info-list .simple-info .si-2-1 {
        font-size: 13px;
        color: #727272;
        padding: 0;
    }

    .summary-info .info-list .simple-info .si-2-2 {
        font-size: 20px;
        padding: 4px 0 0 0;
    }

#ExamResult, #ExamImage, #ExamFilm {
    padding: 0;
}

    #ExamResult img, #ExamImage img, #ExamFilm img {
        width: 56px;
    }
.test>div:nth-child(2){
	border-top:2px solid #158895;
}
